@font-face {
    font-family: SF Pro Rounded;
    font-weight: 700;
    src: url("fonts/SF-Pro-Rounded-Bold.otf") format("opentype");
}
@font-face {
    font-family: SF Pro Rounded;
    font-weight: 900;
    src: url("fonts/SF-Pro-Rounded-Black.otf") format("opentype");
}
@font-face {
    font-family: SF Pro Rounded;
    font-weight: 400;
    src: url("fonts/SF-Pro-Rounded-Regular.otf") format("opentype");
}
*{
    margin: 0;
	padding: 0;
}
html,
body{
    font-family: SF Pro Rounded;
    font-weight: 400;
    color: #fff;
	height: 100%;
    background-color: #16161A;
}
.wrapper{
    position: relative;
	min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.main{
	flex: 1 1 auto;
}
.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.header{
    margin-top: 20px;
}
.main{
}
.navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    transition: 0.4s;
    display: flex;
    position: absolute;
    left: 0;
    background: #16161a;
    width: 100%;
    top: 42px;
    justify-content: center;
    align-items: center;
    height: 149px;
    z-index: 1;
    border-bottom: 3px solid #7f5af0;
    font-size: 35px;
    line-height: 150%;
    opacity: 0;
}
.menu ul li{
    list-style: none;
}
.menu ul li a {
    text-decoration: none;
    color: #ffffff;
}
.hamburg {
    display: none;
    font-size: 35px;
    cursor: pointer;
}
.close{
    display: none;
}
.links ul{
    list-style: none;
    display: flex;
    font-size: 15px;
    gap: 30px;
}
.links ul li a{
    color: #FFFFFF;
    text-decoration: none;
}
.btn-login {
    cursor: pointer;
    background: #7F5AF0;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 700;
}
.description {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.picture img{
    width: 100%;
    max-width: 592px;
}
.title {
    display: flex;
    width: 100%;
    max-width: 630px;
    flex-direction: column;
    /* gap: 20px; */
}
.title h1{
    text-transform: uppercase;
    line-height: 120%;
    font-size: 80px;
    font-weight: 700;
}
.title h2{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #2CB67D;
    text-transform: uppercase;
}
.title p{
    margin-top: 25px;
    color: #94A1B2;
    font-weight: 700;
    font-size: 19px;
}
.title a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    background: #7F5AF0;
    padding: 10px 30px;
    border-radius: 5px;

}
.btn-register {
    margin-top: 30px;
}
.social-media ul{
    list-style: none;
    line-height: 50px;
    font-size: 25px;
}
.social-media ul li a{
    transition: 0.1s;
    color: #FFFFFF;
    text-decoration: none;
}
.social-media{
    position: fixed;
    bottom: 40px;
    left: 40px;
}
.social-media ul li a:hover {
    transition: 0.1s;
    font-size: 30px;
    color: #94A1B2;
}
@media screen and (max-width: 1350px){
    .social-media{
        display: none;
    }
}
@media screen and (max-width: 1200px){
    .description{
        flex-direction: column;
        transform: scaleY(-1);
    }
    .title{
        transform: scaleY(-1);
    }
    .picture{
        transform: scaleY(-1);
    }
    .navigation{
        justify-content: space-around;
    }
}
@media screen and (max-width: 600px){
    .title h1{
        font-size: 40px;
    }
    .links{
        display: none;
    }
    .hamburg{
        display: flex;
    }
    .title {
        text-align: center;
        align-items: center;
    }
}
@media screen and (max-width: 400px){
    .title {
        text-align: center;
        align-items: center;
    }
    .title h2{
        font-size: 14px;
        font-weight: 400;
    }
    .title p{
        font-size: 15px;
        font-weight: 400;
    }
}